<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3 class="title">Fake News Detection</h3>
        <div class="form_input">
            <input type="text" name="input_url" id="input_url" placeholder="URL Post">
            <button type="submit" class="btn_submit">Check</button>
        </div>
        
        <div class="view_post">
            
        </div>
    </div>
    <!-- <div class="fb-post-container">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" 
          src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0"></script>
    
        <div class="fb-post" 
          data-href="https://www.facebook.com/permalink.php?story_fbid=pfbid0EeEaxajaHh1UTHNBowKb2shzPgzy1MEisuLc89gB3j3YztHAb8fYeRY1HWZUCBGTl&id=100063616583405" 
          data-width="500"></div>
      </div> -->
    </body>
</html>