<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3 class="title">Fake News Detection</h3>
        <div class="form_input">
            <input type="text" name="input_url" id="input_url" placeholder="URL Post">
            <button type="submit" class="btn_submit">Check</button>
        </div>
        <div class="view_post">

        </div>
    </div>
    </body>
</html>